body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i{
  cursor:pointer
}
.sticky{
  position: sticky; 
  top:55px;
}
.logoColor{
  color:#36ac9c;
}
.logoColor.f-1{
  text-decoration: none;
  font-size: 20px;
  padding: 0 5px
}
.profile{
  color:black;
  display: none;
  height: 2.5rem;
  gap:0.5rem;
  padding:4px 8px;
  background-color: white;
  align-items: center;
  border-radius:50px;
}
.profile .profile-icon{
  color:white;
  background-color: black;
  height:30px;
  width:30px;
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.profile .profile-name{
  font-weight: bold;
}
.desktop.profile{
  display: flex;
}
@media(max-width:477px){
  .profile{
    display:flex;
    font-size:14px
  }
  .desktop.profile{
    display:none
  }
}
